@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
 
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}

.container{
    background: white;
    color: black;
    height: 600px;
    width:700px;
    padding: 25px 25px;
    border-radius: 5px;
}


.container .title{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    color: #ff6a88;
}

div.userdetails{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-between;
    line-height:25px;
    letter-spacing: 1px;
    font-weight: bold;
}

div.boxinput{
    width: calc(100% / 2 - 0px);

}
 span{
     font-size: small;
 }

.boxinput input{
    height: 30px;
    width: 300px;
}

.boxjob{
    padding: 15px 0px;
}

.hide{
    display: none;
}

form .gender-details .category{
    display:flex;
    width: 65%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-title{
    font-size: large;
}

.gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot_one{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 5px;
    border: 5px solid transparent;
}

#dot-1:checked ~ .category  label .dot_one {
    border-color: #d9d9d9;
    background: #ff6a88;
}

.gender-details .category .dot_two{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 5px;
    border: 5px solid transparent;
}

#dot-2:checked ~ .category  label .dot_two{
    border-color: #d9d9d9;
    background: #ff6a88;
    
}

.gender-details .category .dot_three{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 5px;
    border: 5px solid transparent;
}

#dot-3:checked ~ .category  label .dot_three{
    border-color: #d9d9d9;
    background: #ff6a88;
    
}
.button{

    height: 45px;
    margin-left: 110px;  
    padding-top: 30px; 
}

.button input{
    background: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    height: 45px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    font-family:'Ubuntu', sans-serif;
    font-size: large;
    color: white;
}

.button input:hover{
    background: linear-gradient(90deg, #FF9A8B 10%, #FF6A88 55%, #FF99AC 90%);
}
